# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
