name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install package with dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Run Flake8 linting (ignore line length)
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        flake8 src tests --ignore=E501

    - name: Run tests with coverage
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        pytest -q --cov=src --cov-report=term-missing tests/
